@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.page-header {
    color: #880e4f;
}


/* Navbar */

nav .brand-logo {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    margin-left: 20px;
}

.nav-wrapper {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.home-image {
    background: url(/static/images/asian-dish.jpg); /* Image comes from www.pexels.com */
    height: 50vh;
    width: 100%; 
    opacity: 0.7;
    margin-top: 0.5px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home-image h1 { 
    color: #880e4f;
}