{% extends "base.html" %}
{% block content %}

    <div class="container">

        <h4 class="center-align page-header">Edit Recipe</h4>

        <!-- Card panel form -->
        <div class="row card-panel grey lighten-5">
            <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                <!-- Recipe name input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix pink-text text-lighten-3"></i>
                        <input id="recipe_name" name="recipe_name" minlength="1" maxlength="40" value="{{ recipe.recipe_name }}" type="text" class="validate" required>
                        <label for="recipe_name">Recipe Name</label>
                        <span class="register-remarks">40 characters max</span>
                    </div>
                </div>
                <!-- Country input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-globe-asia prefix pink-text text-lighten-3"></i>
                        <input id="recipe_country" name="recipe_country" minlength="1" maxlength="30" 
                            value="{{ recipe.recipe_country }}" type="text" class="validate" required>
                        <label for="recipe_country">Coutry</label>
                        <span class="register-remarks">Place the name of the country where the dish comes from </span>
                    </div>
                </div>
                <!-- Ingedients input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-cookie-bite prefix pink-text text-lighten-3"></i>
                        <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="3"
                            class="materialize-textarea validate" required>
                            {{- recipe.recipe_ingredients -}}
                        </textarea>
                        <label for="recipe_ingredients">Ingredients:</label>
                        <span class="register-remarks">Please enter each ingredient on a new line</span>
                    </div>
                </div>
                <!-- Instruction input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-utensil-spoon prefix pink-text text-lighten-3"></i>
                        <textarea id="recipe_instructions" name="recipe_instructions" minlength="3"
                            class="materialize-textarea validate" required>
                            {{- recipe.recipe_instructions -}}
                        </textarea>
                        <label for="recipe_instructions">Instructions:</label>
                        <span class="register-remarks">Please enter each new step/instruction on a new line</span>
                    </div>
                </div>
                
                <!-- Number serving input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-friends prefix pink-text text-lighten-3"></i>
                        <input id="recipe_servings" name="recipe_servings" minlength="1" maxlength="2" 
                            value="{{ recipe.recipe_servings }}" type="text" class="validate" required>
                        <label for="recipe_servings">Servings</label>
                        <span class="register-remarks">Please enter the number of people the recipe servings, just enter the number only (e.g. for 4 people just enter "4")</span>
                    </div>
                </div>
                
                <!-- Duration needed for recipe input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-clock prefix pink-text text-lighten-3"></i>
                        <input id="recipe_time" name="recipe_time" minlength="1" maxlength="2" 
                            value="{{ recipe.recipe_time }}" type="text" class="validate" required>
                        <label for="recipe_time">Time</label>
                        <span class="register-remarks">Please enter the minutes needed to make the recipe, just enter the number only (e.g. for 30 mins just enter "30")</span>
                    </div>
                </div>
                <!-- Image input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-images prefix pink-text text-lighten-3"></i>
                        <input id="recipe_image" name="recipe_image" minlength="3" maxlength="5000" 
                            value="{{ recipe.recipe_image }}" type="text" class="validate" required>
                        <label for="recipe_image">Image URL</label>
                        <span class="register-remarks">Please enter the URL for your recipe image</span>
                    </div>
                </div>
                <!-- Spicy checkbox input -->
                <div class="row">
                    <div class="input-field col s12">
                        <div class="switch">
                            <i class="fas fa-pepper-hot prefix red-text text-accent-4"></i>
                            <label for="recipe_spicy">
                                {% if recipe.recipe_spicy == "on" %}
                                    <input type="checkbox" id="recipe_spicy" name="recipe_spicy" checked>
                                {% else %}
                                    <input type="checkbox" id="recipe_spicy" name="recipe_spicy">
                                {% endif %}
                                <span class="lever"></span>
                                Spicy?
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Buttons -->
                <div class="row">
                    <div class="col s12 center-align">
                        <!-- Cancel button -->
                        <a href="{{ url_for('get_recipes') }}" class="btn-large pink darken-3 text-shadow">Cancel</a>
                        <!-- Edit recipe button -->
                        <button type="submit" class="btn-large pink darken-3 text-shadow">
                            Edit Recipe <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
        
    </div>

{% endblock %}